<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
		<li><a [routerLink]="['Heroes']">Heroes</a></li>
		<li><a [routerLink]="['Test']">Test</a></li>
	</ul>

	<ul class="nav nav-sidebar">
		<li *ngFor="#m of menu_items1" [class.active]="m === selectedMenuItem" (click)="onSelect(m)">
			<a [routerLink]="[m.link]">{{m.title}}</a>
		</li>
	</ul>

	<ul class="nav nav-sidebar">
		<li *ngFor="#m of menu_items2" [class.active]="m === selectedMenuItem" (click)="onSelect(m)">
			<a href="{{m.link}}">{{m.title}}</a>
		</li>
	</ul>

	<ul class="nav nav-sidebar">
		<li *ngFor="#m of menu_items3" [class.active]="m === selectedMenuItem" (click)="onSelect(m)">
			<a href="{{m.link}}">{{m.title}}</a>
		</li>
	</ul>
</div>